.side-panel{
    width: 400px;
    height: 650px;
}

.scroll {
    margin: 20px auto;
    padding: 15px;
    background-color: #e7f0e9;
    /* width: 80%;
    max-width: 600px; */
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    line-height: 1.6;
}